.greyTitleBox .container, .projectAdmin .container, .projectRewardContent .container {
    max-width: 1024px;
}

@media (max-width: 768px){
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 992px){
    .greyTitleBox .container{
        width: 100%;
        max-width: 850px;
    }
}

.container, .container-fluid {
    max-width: 985px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.div{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.container:before{
    display: table;
    content: " ";
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.greyTitleBox .projectTitle{
    position: relative;
    margin-bottom: 30px;
    line-height: 2.2rem;
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 767px){
    h1 {
        font-size: 20px;
        margin-bottom: 2px;
        letter-spacing: 2.5px;
    }
}

h1 {
    font-size: 24px;
    letter-spacing: 3px;
}

.greyTitleBox .projectTitle{
    position: relative;
    margin-bottom: 30px;
    line-height: 2.2rem;
    margin-top: 30px;
}

@media screen and (max-width: 767px){
    .projectTitle {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }
}

.greyTitleBox{
    position: relative;
    padding-top: 45px;
    background: #fff;
    font-family: "Noto Sans TC",sans-serif;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto;
    font-size: 14px;
    color: #212121;
    line-height: 22.4px;
}

.wrapper, a, p {
    letter-spacing: 1.6px;
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 767px){
    h1 {
        font-size: 20px;
        margin-bottom: 2px;
        letter-spacing: 2.5px;
    }
}

h1 {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: normal;
}

.h1, h1 {
    font-size: 36px;
}
